@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 100%;
  line-height: 1.5;
  color: #787878;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 600px) {
  body {
    font-size: 70%;
  }
}

.wrap-3d {
  width: 100%;
  height: 100%;
  max-height: 100%;
  padding-top: 5%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: url(/assets/img/BA5.svg);
  background-repeat: no-repeat;
  background-size: cover;

}

.item-3d {
  width: 100%;
  margin-bottom: 20%;
  padding-top: 10%;
  padding-bottom: 5%;
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
}

/*-------------------------------------MENU----------------------------------------*/

ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    cursor: pointer;
    padding: 6px 20px;
    font-size: 48px;
  }
  
  button {
    opacity: 0.6;
    background-color: transparent;
    position: fixed;
    z-index: 2;
    top: 24px;
    left: 24px;
    border: none;
    width: 36px;
    height: 30px;
    outline: none;
    transition: opacity 0.2s ease-out;
  }
  
  button:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    right: auto;
    width: 100%;
    background: linear-gradient(to bottom, #eeeeee, #ffffff 20%, transparent 20%, transparent 40%, #eeeeee 40%, #ffffff 60%, transparent 60%, transparent 80%, #eeeeee 80%, #ffffff 100%);
    transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
  }
  
  button:after {
    opacity: 0;
    content: "×";
    color: white;
    position: absolute;
    top: 16px;
    left: -4px;
    font-size: 76px;
    line-height: 0;
    transition: opacity 0.4s ease-out;
  }
  button:active {
    transform: translateY(2px);
  }
  button:hover {
    opacity: 1;
  }
  .open button {
    opacity: 1;
  }
  .open button:before {
    opacity: 0;
    width: 0;
  }
  .open button:after {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(360deg);
    transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
  }
  
  nav {
    z-index: 1;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    overflow: hidden;
  }
  
  nav:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.98);
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    transform: scale(0.04), translateY(9999px);
    overflow: hidden;
  }
  .open nav {
    top: 0;
  }
  .open nav:before {
    -webkit-animation: menu-animation 0.8s ease-out forwards;
            animation: menu-animation 0.8s ease-out forwards;
  }
  .menu a{
  
    list-style: none;
    text-decoration: none;
    color: #fff;
  }
  ul.menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    perspective: 1000;
    color: white;
  }
  ul.menu li {
    opacity: 0;
    text-align: center;
    transform: translate3d(0, 36px, 0);
  }
  ul.menu li:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    left: auto;
    background-color: white;
    height: 100%;
    width: 0;
    overflow: hidden;
    transition: width 0.14s ease-out;
  }
  ul.menu li:after {
    opacity: 0;
    content: attr(data-text);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #66819b;
    overflow: hidden;
    transform: translate(-24px, 6px);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  }
  ul.menu li:hover:before {
    left: 0;
    right: auto;
    width: 100%;
  }
  ul.menu li:hover:after {
    opacity: 1;
    padding: 0 20px;
    transform: translate(0px, 6px);
    transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
  }
  .open ul.menu li {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  }
  .open ul.menu li:nth-child(1) {
    transition-delay: 0.75s;
  }
  .open ul.menu li:nth-child(2) {
    transition-delay: 0.85s;
  }
  .open ul.menu li:nth-child(3) {
    transition-delay: 0.95s;
  }
  .open ul.menu li:nth-child(4) {
    transition-delay: 1.05s;
  }
  .open ul.menu li:nth-child(5) {
    transition-delay: 1.15s;
  }
  
  article {
    padding: 24px;
    max-width: 600px;
    margin: 60px auto;
    transition: 0.2s ease-out;
  }
  .open article {
    transform: scale(0.92);
    transition: transform 0.2s 0.41s ease-out;
  }
  
  @-webkit-keyframes menu-animation {
    0% {
      opacity: 0;
      transform: scale(0.04) translateY(300%);
    }
    40% {
      transform: scale(0.04) translateY(0);
      transition: ease-out;
    }
    40% {
      transform: scale(0.04) translateY(0);
    }
    60% {
      opacity: 1;
      transform: scale(0.02) translateY(0px);
    }
    61% {
      transform: scale(0.04);
    }
    99.9% {
      height: 0;
      padding-bottom: 100%;
      border-radius: 100%;
    }
    100% {
      transform: scale(2);
      height: 100%;
      padding-bottom: 0;
      border-radius: 0;
    }
  }
  
  @keyframes menu-animation {
    0% {
      opacity: 0;
      transform: scale(0.04) translateY(300%);
    }
    40% {
      transform: scale(0.04) translateY(0);
      transition: ease-out;
    }
    40% {
      transform: scale(0.04) translateY(0);
    }
    60% {
      opacity: 1;
      transform: scale(0.02) translateY(0px);
    }
    61% {
      transform: scale(0.04);
    }
    99.9% {
      height: 0;
      padding-bottom: 100%;
      border-radius: 100%;
    }
    100% {
      transform: scale(2);
      height: 100%;
      padding-bottom: 0;
      border-radius: 0;
    }
  }
  
  /*-------------------------------------MENU END----------------------------------------*/
/*------------------------------------FLIP CARD--------------------------------------*/

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 300px;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
  }
  .card:hover .card-front {
    transform: rotateX(-180deg);
  }
  .card:hover .card-back {
    transform: rotateX(0deg);
  }
  
  .card-front {
    height: 100%;
    width: 100%;
    background-image: url(../img/BA2.svg);
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
  }
  
  .card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
    color: #ffffff;
    text-align: center;
  }

  .card-front h1{

    font-family: 'poppins';
    font-size: 20em;
    color: #ffffff;
    margin: 1.5rem 0rem 0rem 7rem;
  }

 .fourF h1{

    margin: 1.5rem 0rem 0rem 5rem;
  }

  .card-back h1{
      
    position: absolute;
    font-family: 'poppins';
    font-size: 20em;
    color: #ffffff18;
    margin: -21.5rem 0rem 0rem 7rem;
  }

 .fourB h1{

    margin: -21.5rem 0rem 0rem 5rem;
}

  .card-back h2 {
    
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 5%;
    margin-bottom: 7%;
    margin-right: 8%;
    margin-left: 0;
    font-size: 45px;
    font-weight: bold; 
    text-transform: uppercase;
  }

  .card-back i{

    display:flex;
    justify-content: flex-end;
    position: relative;
    top: -38px;
    right: 10px;
  }

  .card-back h3{

    font-family: 'roboto', sans-serif;
    text-align: right;
    left: 16%;
    font-size: 13px;
    margin: 0.5em 3.5em 0.5em 0em;
  }


  @media (max-width: 700px){

    .card{

        height: 280px;
        width: 180px;
    }

    .card-front h1{

        font-size: 18em;
        margin: 1.5rem 0rem 0rem 2.5rem;
      }
    
      .card-back h1{
          
        font-size: 20em;
        color: #ffffff18;
        margin: -15.5rem 0rem 0rem 3rem;
      }
    
      .card-back h2 {
    
        font-size: 27px;
      }
    
      .card-back i{

        top: -28px;
        right: 10px;
      }
    
      .card-back h3{
    
        font-size: 9px;
      }

      .fourB h1{

    margin: -15.5rem 0rem 0rem 2rem;
      }

  }

/*------------------------------------FLIP CARD--------------------------------------*/



.item-3d:nth-child(even) .ground:before {
  background-position: 100% 50%;
  -webkit-animation: floating-shadow-r 5s -1s infinite;
          animation: floating-shadow-r 5s -1s infinite;
}

.item-3d:nth-child(odd) .ground:before {
  background-position: 0 50%;
  -webkit-animation: floating-shadow-l 5s -1s infinite;
          animation: floating-shadow-l 5s -1s infinite;
}

@-webkit-keyframes floating-shadow-l {
  0%, 100% {
    background-size: 35% 80%;
    background-position: 10% 80%;
  }
  50% {
    background-size: 50% 80%;
    background-position: 0 80%;
  }
}

@keyframes floating-shadow-l {
  0%, 100% {
    background-size: 35% 80%;
    background-position: 10% 80%;
  }
  50% {
    background-size: 50% 80%;
    background-position: 0 80%;
  }
}
@-webkit-keyframes floating-shadow-r {
  0%, 100% {
    background-size: 35% 80%;
    background-position: 90% 80%;
  }
  50% {
    background-size: 50% 80%;
    background-position: 100% 80%;
  }
}
@keyframes floating-shadow-r {
  0%, 100% {
    background-size: 35% 80%;
    background-position: 90% 80%;
  }
  50% {
    background-size: 50% 80%;
    background-position: 100% 80%;
  }
}
.item-content {
  position: relative;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  transform: translateZ(0);
}

.item-img {
  position: relative;
  float: left;
  display: block;
  width: 50%;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  -webkit-animation: floating 5s -1s infinite;
          animation: floating 5s -1s infinite;
}
.item-img img {
  display: block;
  width: 100%;
  height: auto;
  transform-origin: 50% 100%;
  transform: translateZ(-5rem);
}

.item-3d:nth-child(even) .item-img {
  float: right;
  order: 1;
}

@-webkit-keyframes floating {
  0%, 100% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(0);
  }
}

@keyframes floating {
  0%, 100% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(0);
  }
}
.item-caption {
  display: block;
  position: relative;
  float: left;
  width: 50%;
}

@media (max-width: 700px){


}

.item-3d:nth-child(odd) .item-caption {
  padding-left: 10%;
}
@media (max-width: 600px) {
  .item-3d:nth-child(odd) .item-caption {
    padding-left: 5%;
  }
}

.item-3d:nth-child(even) .item-caption {
  text-align: right;
  padding-right: 10%;
}
@media (max-width: 600px) {
  .item-3d:nth-child(even) .item-caption {
    padding-right: 5%;
  }
}

.item-caption p {
  font-size: 87.5%;
  line-height: 1.333;
  margin-bottom: 1.25rem;
}
@media (max-width: 600px) {
  .item-caption p {
    margin-bottom: 0.5rem;
  }
}

.item-caption p a {
  position: relative;
  display: inline-block;
  margin-bottom: 0.3rem;
}
.item-caption p a:before {
  content: "";
  position: absolute;
  right: 1rem;
  bottom: 3px;
  left: 0;
  height: 1px;
  background-color: #08c;
  opacity: 0;
  transition: opacity 0.25s;
}
.item-caption p a:after {
  content: ">";
  padding-left: 0.5rem;
  text-decoration: none;
}
.item-caption p a:hover:before, .item-caption p a:active:before, .item-caption p a:focus:before {
  opacity: 0.5;
}

.intro {
  position: relative;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  padding: 15% 2rem;
  text-align: center;
}
.intro:after {
  content: "↓";
  position: absolute;
  bottom: 20%;
  left: 0;
  width: 100%;
  font-size: 150%;
  -webkit-animation: scroll-arrw 1s -1s infinite linear;
          animation: scroll-arrw 1s -1s infinite linear;
}

@-webkit-keyframes scroll-arrw {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(80%);
    opacity: 1;
  }
  100% {
    transform: translateY(160%);
    opacity: 0;
  }
}

@keyframes scroll-arrw {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(80%);
    opacity: 1;
  }
  100% {
    transform: translateY(160%);
    opacity: 0;
  }
}
.intro h1 {
  font-size: 250%;
  font-weight: normal;
  color: #303030;
}

.intro p {
  margin-bottom: 2rem;
  font-size: 175%;
  line-height: 1.4286;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}