html, body {
  height: 100%;
}
body { 
  font-size: 18px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.center{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  align-items: center;
  transition: 0.5s;
}
.panel {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

section:not(.first) {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
} 

.blue {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1616%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1617)'%3e%3c/rect%3e%3cpath d='M212.593%2c176.639C245.113%2c178.401%2c277.814%2c162.491%2c292.993%2c133.676C307.383%2c106.357%2c295.452%2c75.071%2c280.254%2c48.193C264.73%2c20.738%2c244.067%2c-6.478%2c212.593%2c-8.512C178.077%2c-10.743%2c143.248%2c7.361%2c127.874%2c38.344C113.705%2c66.899%2c129.34%2c98.527%2c145.992%2c125.709C161.639%2c151.251%2c182.683%2c175.018%2c212.593%2c176.639' fill='rgba(16%2c 200%2c 240%2c 0.59)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M615.266%2c158.774C646.399%2c156.929%2c675.706%2c145.163%2c693.122%2c119.291C713.028%2c89.72%2c726.178%2c51.466%2c708.233%2c20.665C690.366%2c-10.001%2c650.756%2c-14.06%2c615.266%2c-14.34C579.093%2c-14.625%2c539.746%2c-10.947%2c519.721%2c19.178C497.888%2c52.023%2c497.327%2c97.024%2c519.603%2c129.571C539.786%2c159.059%2c579.595%2c160.887%2c615.266%2c158.774' fill='rgba(16%2c 200%2c 240%2c 0.59)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M20.725%2c-2.313C36.824%2c-1.37%2c54.86%2c-2.351%2c63.815%2c-15.763C73.525%2c-30.305%2c71.674%2c-49.88%2c62.37%2c-64.685C53.616%2c-78.614%2c37.161%2c-85.034%2c20.725%2c-84.328C5.519%2c-83.675%2c-7.825%2c-74.695%2c-15.153%2c-61.355C-22.208%2c-48.512%2c-22.034%2c-32.87%2c-14.425%2c-20.348C-7.096%2c-8.286%2c6.635%2c-3.139%2c20.725%2c-2.313' fill='rgba(16%2c 200%2c 240%2c 0.59)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1149.01%2c324.281C1183.747%2c322.486%2c1207.762%2c292.824%2c1223.813%2c261.966C1238.412%2c233.901%2c1241.949%2c201.609%2c1227.446%2c173.494C1211.61%2c142.794%2c1183.534%2c118.13%2c1149.01%2c116.956C1112.638%2c115.719%2c1079.088%2c136.387%2c1060.756%2c167.825C1042.284%2c199.503%2c1041.484%2c238.518%2c1059.5%2c270.457C1077.833%2c302.958%2c1111.745%2c326.207%2c1149.01%2c324.281' fill='rgba(16%2c 200%2c 240%2c 0.59)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M527.198%2c271.398C558.394%2c270.567%2c591.502%2c263.928%2c607.565%2c237.173C624.004%2c209.792%2c617.223%2c175.675%2c601.283%2c148C585.309%2c120.267%2c559.159%2c99.309%2c527.198%2c97.643C492.175%2c95.818%2c456.715%2c109.598%2c438.408%2c139.511C419.357%2c170.64%2c418.674%2c211.387%2c439.056%2c241.662C457.616%2c269.231%2c493.976%2c272.283%2c527.198%2c271.398' fill='rgba(16%2c 200%2c 240%2c 0.59)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1616'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1617'%3e%3cstop stop-color='rgba(57%2c 198%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 133%2c 187%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;

}

.red {
  background-color: #c82736;
  background-image: url(/assets/img/BA2.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.orange {
  background-color: #e77614;
  background-image: url(/assets/img/BA3.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.purple {
  background-color: #8d3dae;
  background-image: url(/assets/img/BA4.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.green {
  background-color: #28a92b;
  background-image: url(/assets/img/BA5.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*-------------------------------------MENU----------------------------------------*/

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  cursor: pointer;
  padding: 6px 20px;
  font-size: 48px;
}

button {
  opacity: 0.6;
  background-color: transparent;
  position: fixed;
  z-index: 2;
  top: 24px;
  left: 24px;
  border: none;
  width: 36px;
  height: 30px;
  outline: none;
  transition: opacity 0.2s ease-out;
}

button:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  right: auto;
  width: 100%;
  background: linear-gradient(to bottom, #eeeeee, #ffffff 20%, transparent 20%, transparent 40%, #eeeeee 40%, #ffffff 60%, transparent 60%, transparent 80%, #eeeeee 80%, #ffffff 100%);
  transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
}

button:after {
  opacity: 0;
  content: "×";
  color: white;
  position: absolute;
  top: 16px;
  left: -4px;
  font-size: 76px;
  line-height: 0;
  transition: opacity 0.4s ease-out;
}
button:active {
  transform: translateY(2px);
}
button:hover {
  opacity: 1;
}
.open button {
  opacity: 1;
}
.open button:before {
  opacity: 0;
  width: 0;
}
.open button:after {
  opacity: 1;
  transform: translate3d(0, 0, 0) rotate(360deg);
  transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
}

nav {
  z-index: 1;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}

nav:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.98);
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
  transform: scale(0.04), translateY(9999px);
  overflow: hidden;
}
.open nav {
  top: 0;
}
.open nav:before {
  -webkit-animation: menu-animation 0.8s ease-out forwards;
          animation: menu-animation 0.8s ease-out forwards;
}
.menu a{

  list-style: none;
  text-decoration: none;
  color: #fff;
}
ul.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  perspective: 1000;
  color: white;
}
ul.menu li {
  opacity: 0;
  text-align: center;
  transform: translate3d(0, 36px, 0);
}
ul.menu li:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  left: auto;
  background-color: white;
  height: 100%;
  width: 0;
  overflow: hidden;
  transition: width 0.14s ease-out;
}
ul.menu li:after {
  opacity: 0;
  content: attr(data-text);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #66819b;
  overflow: hidden;
  transform: translate(-24px, 6px);
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
}
ul.menu li:hover:before {
  left: 0;
  right: auto;
  width: 100%;
}
ul.menu li:hover:after {
  opacity: 1;
  padding: 0 20px;
  transform: translate(0px, 6px);
  transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
}
.open ul.menu li {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}
.open ul.menu li:nth-child(1) {
  transition-delay: 0.75s;
}
.open ul.menu li:nth-child(2) {
  transition-delay: 0.85s;
}
.open ul.menu li:nth-child(3) {
  transition-delay: 0.95s;
}
.open ul.menu li:nth-child(4) {
  transition-delay: 1.05s;
}
.open ul.menu li:nth-child(5) {
  transition-delay: 1.15s;
}

article {
  padding: 24px;
  max-width: 600px;
  margin: 60px auto;
  transition: 0.2s ease-out;
}
.open article {
  transform: scale(0.92);
  transition: transform 0.2s 0.41s ease-out;
}

@-webkit-keyframes menu-animation {
  0% {
    opacity: 0;
    transform: scale(0.04) translateY(300%);
  }
  40% {
    transform: scale(0.04) translateY(0);
    transition: ease-out;
  }
  40% {
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    transform: scale(0.02) translateY(0px);
  }
  61% {
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}

@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: scale(0.04) translateY(300%);
  }
  40% {
    transform: scale(0.04) translateY(0);
    transition: ease-out;
  }
  40% {
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    transform: scale(0.02) translateY(0px);
  }
  61% {
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}

/*-------------------------------------MENU END----------------------------------------*/
/*-------------------------------------ABOUT----------------------------------------*/
.background{

position: absolute;
}


.text{
  margin-top: 2em;
  padding: 0.5em;
}
.textTittle{

  margin-top: 4em;
  padding: 1rem;
  display: flex;
  align-content: center;
}

.textContent{

  padding: 1rem;
  margin-right: 3em;
}

.tittleAbout{

  font-size: 4em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  position: relative;
}

.tittleAboutSecond{

  font-size: 3.5em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  position: relative;
}

.textAbout{

  font-size: 1em;
  font-weight: 500;
  margin-top: 1rem;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.imgAbout{

margin-right: 1rem;
}

.imgAbout img{

  width: 15em;
  height: 15em;
}

.flipcard {
  position: relative;
  height: 250px;
  width: 350px;
  perspective: 2000px;
}
.flipcard > div {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.6s ease-out transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* hides the front when rotated */
}

/* other direction */
.flipcard.left > div:last-of-type {
  transform: rotateY(180deg);
}
.flipcard.left:hover > div:first-of-type {
  transform: rotateY(-180deg);
}
.flipcard.left:hover > div:last-of-type {
  transform: rotateY(0);
}

.flipcard.right > div:last-of-type {
  transform: rotateY(-180deg);
}
.flipcard.right:hover > div:first-of-type {
  transform: rotateY(180deg);
}
.flipcard.right:hover > div:last-of-type {
  transform: rotateY(0);
}

.flipcard.up > div:last-of-type {
  transform: rotateX(-180deg);
}
.flipcard.up:hover > div:first-of-type {
  transform: rotateX(180deg);
}
.flipcard.up:hover > div:last-of-type {
  transform: rotateX(0);
}

.flipcard.down > div:last-of-type {
  transform: rotateX(180deg);
}
.flipcard.down:hover > div:first-of-type {
  transform: rotateX(-180deg);
}
.flipcard.down:hover > div:last-of-type {
  transform: rotateX(0);
}

@media (max-width: 700px){

  .imgAbout{

    margin-top: 3rem;
    margin-left: 2.5rem;
    }

    .text2{
      padding: 4em;
      margin-top: 2em;
      margin-left: 1em;
    }
    .textContent{

      margin-top: 4em;
    }

}
/*-------------------------------WORKS------------------------------------*/

.landingWork{

  margin: 4em auto;
}

.tittleWorkPage{

  padding: 1em;
}

.tittleWorkPage h1{

  font-size: 4.5em;
  font-weight: bold;
  font-family: 'poppins', sans-serif;
  color: #ffffff;
}

.wrapperWorks{

  background-color: #ffffff;
  background-image: url(/assets/img/BA5.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em;
}

.ipsType_right {
  text-align: right;
}
.ipsType_center {
  text-align: center;
}
.cInnerContent {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.ipsSpacer_bottom_double {
  margin-bottom: 30px;
}
.ipsGrid {
  display: inline-block;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.ipsGrid::before, .ipsGrid::after {
  display: table;
  content: "";
  line-height: 0;
}
.ipsGrid > [class*="ipsGrid_span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}
.ipsGrid > .ipsGrid_span5 {
  width: 40.42553191489362%;
}
.ipsGrid > .ipsGrid_span7 {
  width: 57.44680851063829%;
}
.ipsGrid > [class*="ipsGrid_span"] {
  float: left;
  margin-left: 2%;
}
.ipsGrid > [class*="ipsGrid_span"]:first-child {
  margin-left: 0;
}
.feature {
  display: flex;
  align-items: center;
}

.ipsGrid_span7 h2 {
  
  color: #fff;
  font-size: 2.5em;
}
.heading_large a{

  text-decoration: none;
  color: #ffffff;
  font-size: 1.5em;
}

.ipsGrid_span7 a{

  text-decoration: none;
}

.ipsGrid_span7 p{

color: #CCCCCC;
}

img {
  max-width: 100%;
}

.header-section {
  margin: 200px auto;
}

.gs_reveal {
  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity;
}

@media (max-width: 700px){

  .imgWorkPage{

    display: none;
  }

  .ipsGrid_span7 h2 {
  
    font-size: 1.5em;
  }
  .heading_large a{

    font-size: 1.5em;
  }

}


